<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script>

// lab9 ixd
// your code goes here

</script>
</head>

<body>

<div data-role="page" id="pageone">
  <div data-role="header">
    <h1>Interaction Design</h1>
    <h2>Taphold Event</h2>
  </div>

  <div data-role="main" class="ui-content">
    <img class="myphoto" src="/images/lorempixel.people.1.jpeg" width="90%">
    <br/>
    <img class="myphoto" src="/images/lorempixel.people.1.jpeg" width="90%">
  </div>

  <div data-role="footer">
    <h1>Footer Text</h1>
  </div>
</div> 

</body>
</html>